@font-face {
  font-family: 'Open Sans';
  src:
    url(./woff2/OpenSans-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./woff2/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./woff2/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./woff2/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./woff2/OpenSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-display: fallback;
}